results/
docker_inspect-config_file_template/1bf23b4e3229 
docker_inspect-config_file_template/48c9f1ab22a7 
docker_inspect-config_file_template/fc049063fc50
script_files_for_checking_hash/container_hashes.txt